<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
     
      internalLogLevel="Error"
      internalLogFile="C:\Logs\internal-nlog.txt">
  <!--throwExceptions="true"-->

  <extensions>
    <!--<add assembly="NLog.Targets.ElasticSearch"/>-->
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!--<target xsi:type="File" name="allfile" fileName="${gdc:item=configDir}\nlog-all.log"
                layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="File" name="ownFile-web" fileName="${gdc:item=configDir}\nlog-own.log"
             layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}" />

    <target name="ElasticSearch" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch"/>
    </target>-->
    <target xsi:type="Null" name="blackhole" />
    <target name="database" xsi:type="Database" dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient" >

      <connectionString>${gdc:item=connectionString}</connectionString>
      <!--
  Remarks:
    The appsetting layouts require the NLog.Extended assembly.
    The aspnet-* layouts require the NLog.Web assembly.
    The Application value is determined by an AppName appSetting in Web.config.
    The "NLogDb" connection string determines the database that NLog write to.
    The create dbo.Log script in the comment below must be manually executed.

  Script for creating the dbo.Log table.

 CREATE TABLE [dbo].[sysMimunYashirLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Level] [nvarchar](50) NOT NULL,
	[Module] [nvarchar](50) NOT NULL,
	[Layer] [nvarchar](50) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Parameters] [nvarchar](max) NULL,
	[Exception] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[UserId] [nvarchar](50) NOT NULL,
	[LoggerAppVersion] [nvarchar](50) NULL,
	[LoggerAppCompoment] [nvarchar](50) NULL,
	[LoggerAppRequest] [nvarchar](max) NOT NULL,
	[Logger] [nvarchar](250) NULL,
	
 CONSTRAINT [PK_sysSystemLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]


-->

      <commandText>
        INSERT INTO sysAskiControlLog ([Date],[Level],[Module],[Layer],[Message],[Parameters], [Exception]
        ,[StackTrace],[UserId],[LoggerAppVersion] , [LoggerAppCompoment], [LoggerAppRequest] , [Logger] )
        VALUES (@log_date, @log_level, @module, @layer, @message, @parameters , @exception
        , @stack_trace, @user_id,  @LoggerAppVersion , @LoggerAppCompoment, @LoggerAppRequest , @Logger );

      </commandText>


      <parameter name="@log_date" layout="${date}" />
      <parameter name="@log_level" layout="${level}" />
      <parameter name="@module" layout="${event-properties:item=Module}" />
      <parameter name="@layer" layout="${event-properties:item=Layer}" />

      <parameter name="@message" layout="${message}" />
      <parameter name="@parameters" layout="${event-properties:item=Parameters}" />
      <parameter name="@stack_trace" layout="${event-properties:item=StackTrace}" />
      <parameter name="@user_id" layout="${event-properties:item=UserId}" />

      <parameter name="@LoggerAppVersion" layout="${event-properties:item=LoggerAppVersion}" />
      <parameter name="@LoggerAppCompoment" layout="${event-properties:item=LoggerAppCompoment}" />

      <parameter name="@LoggerAppRequest" layout="url: ${aspnet-request-url} | ip: ${aspnet-request-ip:CheckForwardedForHeader=true} | action: ${aspnet-mvc-action}" />

      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@logger" layout="${logger}" />
      <!--<parameter name="@callSite" layout="${callsite:filename=true}" />-->

    </target>
    <target name="file" xsi:type="File"
            layout="${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="C:\Logs\logfile.txt"
            keepFileOpen="true"
            encoding="utf-8" />

  </targets>

  <rules>
    <!--All logs, including from Microsoft
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <logger name="*" minlevel="Trace" writeTo="ElasticSearch" />-->

    <!--Skip Microsoft logs and so log only own logs- -->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <!--<logger name="*" minlevel="Info" writeTo="file" />-->
    <logger name="*" minlevel="Info" writeTo="database" />
    <!--<logger name="*" minlevel="Error" writeTo="adminMail" />-->
    <!--<logger name="*" minlevel="Trace" writeTo="ownFile-web" />-->
  </rules>
</nlog>

